* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh ;
  width: 100% ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.milano {
  background-image: url("../img/milano.jpg");
}
.roma {
  background-image: url("../img/roma.jpg");
}
.napoli {
  background-image: url("../img/napoli.jpg");
}

.layover {
height: 100%;
width: 100%;
background-color: rgba(0, 0, 0, 0.2);
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  color: white;
  background-color: rgba(0,0,0,0.4);
  cursor: pointer;
}

#text:hover {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
}

.container.milano #text:hover {
  background-color: rgba(255, 0, 0, 0.4);
}

.container.napoli #text:hover {
  background-color: rgba(0, 255, 0, 0.4);
}
